html,
body {
  width: 100%;
  height: 100%;
}
.color-primary {
  background-color: darkkhaki;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.thick-border-1 {
  border: solid 10px;
}
.thick-border-2 {
  border-width: 10px;
  border-style: solid;
  border-color: black;
  border-radius: 20%;
}
.outer-square {
  width: 360px;
  height: 360px;
  background-color: sandybrown;
}
.inner-square {
  width: 200px;
  height: 200px;
  background-color: white;
}
.inner-inner-square {
  width: 120px;
  height: 120px;
  background-image: url("img/greta.gif");
  background-size: cover;
  background-position: center;
}
.main-container {
  width: 820px;
  height: 300px;
  background-color: white;

  display: flex;
  justify-content: space-around;
  allign-items: center;
}
.meme-container {
  width: 230px;
  height: 230px;
  background-color: yellowgreen;
}
#meme-square-1 {
  background-image: url("img/greta.gif");
  background-size: cover;
  background-position: center;
}
#meme-square-2 {
}
#meme-square-3 {
}
